<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="myCtrl">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Resume Parser - Venturesity</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<nav class="light-red darken-2" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Venturesity</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Resume parser</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
    <div class="container z-depth-5 " style="padding-left: 100px; padding-right: 100px">
        <br><br>
        <h1 class="header center red-text">Edit your resume</h1>
        <div class="row center">
            <h5 class="header col s12 light">Edit your resume and hit enter</h5>
        </div>
        <div class="row">
            <form class="col s12">
                <h4 class="blue-text lighten-3 center">Basic Information</h4>
                <br><br>
                <div class="row">
                    <h5 class="green-text lighten-3">Name</h5>
                    <div class="input-field col s12">
                        <div class="input-field col s6">
                            <input autocomplete="off" id="first_name" type="text" ng-model="f_name"
                                   ng-init="f_name='{{ fname }}'"/>
                            <label for="first_name">First Name</label>
                            <b><p class="red-text" id="f_name_error"></p></b>
                            <b><p class="green-text" id="f_name_ok"></p></b>
                            <span ng-if="f_name.length?check_f_name(f_name):check_f_name('None')"></span>
                        </div>
                        <div class="input-field col s6">
                            <input autocomplete="off" id="last_name" type="text" class="validate" ng-model="l_name"
                                   ng-init="l_name='{{ lname }}'">
                            <label for="last_name">Last Name</label>
                            <b><p class="red-text" id="l_name_error"></p></b>
                            <b><p class="green-text" id="l_name_ok"></p></b>
                            <span ng-if="l_name.length?check_l_name(l_name):check_l_name('None')"></span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <h5 class="green-text lighten-3">Label</h5>
                    <div class="input-field col s12">
                        {% for item in cluster %}
                            <div class="input-field col s12">
                                <input autocomplete="off" id="label" type="text" ng-model="label_{{ loop.index }}"
                                       ng-init="label_{{ loop.index }}='{{ item }}'"/>
                                <label for="label">Label</label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="input-field col s12">
                        <div ng-controller="Note">
                            <div ng-repeat="item in items">
                                <div class="input-field col s12">
                                    <input autocomplete="off" id="label" type="text" ng-model="label"
                                           ng-init="label='{{ item }}'"/>
                                    <label for="label">Label</label>
                                </div>
                            </div>
                            <button class="btn-floating btn-large waves-effect waves-light green right"
                                    ng-click="add()"><i class="material-icons">add</i></button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <h5 class="green-text lighten-3">Telephone</h5>
                    <div class="input-field col s12">
                        {% for item in number %}
                            <div class="input-field col s12">
                                <div class="input-field col s2">
                                    <input type="text" id="code" class="validate" ng-model="code_{{ loop.index }}">
                                    <label for="code">code</label>
                                    <b><p class="red-text" id="code_error_{{ item }}"></p></b>
                                    <b><p class="green-text" id="code_ok_{{ item }}"></p></b>
                                </div>
                                <div class="input-field col s10">
                                    <input autocomplete="off" id="telephone" type="text" ng-model="num_{{ loop.index }}"
                                           ng-init="num_{{ loop.index }}='{{ item }}'"/>
                                    <label for="telephone">number</label>
                                    <b><p class="red-text" id="num_error_{{ item }}"></p></b>
                                    <b><p class="green-text" id="num_ok_{{ item }}"></p></b>
                                </div>
                                <span ng-if="num.length?check_num(num, {{ item }}):check_num('', {{ item }})"></span>
                                <span ng-if="code.length?check_code(code, {{ item }}):check_code('', {{ item }})"></span>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="input-field col s12">
                        <div ng-controller="Note">
                            <div ng-repeat="item in items">
                                <div class="input-field col s12">
                                    <div class="input-field col s2">
                                        <input type="text" id="code" class="validate" ng-model="code$index">
                                        <label for="code">code</label>
                                        <b><p class="red-text" id="code_error_<[$index]>"></p></b>
                                        <b><p class="green-text" id="code_ok_<[$index]>"></p></b>
                                    </div>
                                    <div class="input-field col s10">
                                        <input autocomplete="off" id="telephone" type="text" ng-model="num$index"
                                               ng-init="num='{{ number }}'"/>
                                        <label for="telephone">number</label>
                                        <b><p class="red-text" id="num_error_<[$index]>"></p></b>
                                        <b><p class="green-text" id="num_ok_<[$index]>"></p></b>
                                    </div>
                                </div>
                                <span ng-if="num$index.length?check_num(num$index, $index):check_num('', $index)"></span>
                                <span ng-if="code$index.length?check_code(code$index, $index):check_code('', $index)"></span>
                            </div>
                            <button class="btn-floating btn-large waves-effect waves-light green right"
                                    ng-click="add()"><i class="material-icons">add</i></button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <h5 class="green-text lighten-3">Email</h5>
                    <div class="input-field col s12">
                        <div class="input-field col s12">
                            <input type="text" ng-model="email" id="email" class="validate"
                                   ng-init="email='{{ email }}'" autocomplete="off">
                            <label for="email">email id</label>
                            <b><p class="red-text" id="email_error_s"></p></b>
                            <b><p class="green-text" id="email_ok_s"></p></b>
                            <span ng-if="email.length?check_email(email, 's'):check_email('', 's')"></span>
                        </div>
                    </div>
                    <div class="input-field col s12">
                        <div ng-controller="Note">
                            <div ng-repeat="item in items">
                                <div class="input-field col s12">
                                    <input type="text" ng-model="email$index" id="email" class="validate"
                                           autocomplete="off">
                                    <label for="email">email id</label>
                                    <b><p class="red-text" id="email_error_<[$index]>"></p></b>
                                    <b><p class="green-text" id="email_ok_<[$index]>"></p></b>
                                    <span ng-if="email$index.length?check_email(email$index, $index):check_email('', $index)"></span>
                                </div>
                            </div>
                            <button class="btn-floating btn-large waves-effect waves-light green right"
                                    ng-click="add()"><i class="material-icons">add</i></button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <h5 class="green-text lighten-3">Website / Useful links</h5>
                    {% for item in personal_link %}
                        {% set index = loop.index - 1 %}
                        <div class="input-field col s12">
                            <div class="input-field col s12">
                                <input type="text" ng-model="website_{{ index }}"
                                       ng-init="website_{{ index }}='{{ item }}'"
                                       id="website" class="validate">
                                <label for="website">url</label>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="input-field col s12">
                        <div ng-controller="Note">
                            <div ng-repeat="item in items">
                                <div class="input-field col s12">
                                    <input type="text" ng-model="item.question" class="validate" id="website">
                                    <label for="website">url</label>
                                </div>
                            </div>
                            <button class="btn-floating btn-large waves-effect waves-light green right"
                                    ng-click="add()"><i class="material-icons">add</i></button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <h5 class="green-text lighten-3">Address</h5>
                    <div class="input-field col s12">
                        <div class="input-field col s12">
                            <input type="text" id="address" class="validate">
                            <label for="address">Street</label>
                        </div>
                    </div>
                    <div class="input-field col s12">
                        <div ng-controller="Note">
                            <div ng-repeat="item in items">
                                <div class="input-field col s12">
                                    <input type="text" ng-model="item.question" class="validate" id="address">
                                    <label for="address">Street</label>
                                </div>
                            </div>
                            <button class="btn-floating btn-large waves-effect waves-light green right"
                                    ng-click="add()"><i class="material-icons">add</i></button>
                        </div>
                    </div>
                    <div class="input-field col s12">
                        <div class="input-field col s6">
                            <input type="number" id="pincode" class="validate">
                            <label for="pincode">Pin code</label>
                        </div>
                        <div class="input-field col s6">
                            <input type="text" id="country" ng-model="country"
                                   ng-init="country={{ location }}">
                            <label for="country">Country</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h5 class="green-text lighten-3">Profile Summary</h5>
                    <div class="input-field col s12">
                        <div class="input-field col s12">
                            <textarea id="pub_summary" ng-model="summary" ng-init="summary='{{ summary }}'"
                                      class="materialize-textarea"></textarea>
                            <label for="pub_summary">Summary</label>
                        </div>
                    </div>
                </div>
                <br><br><br>
                <h4 class="blue-text lighten-3 center">Profiles</h4>
                <br><br>
                <div class="row">
                    <h5 class="green-text lighten-3">Social Links</h5>
                    {% for item in site_link %}
                        {% set index = loop.index - 1 %}
                        <div class="input-field col s12">
                            <div class="input-field col s6">
                                <input id="site_name" ng-model="social_name_{{ index }}"
                                       ng-init="social_name_{{ index }}='{{ site_name[index] }}'" type="text">
                                <label for="site_name">Site name</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="profile_link" type="text" ng-model="social_link_{{ index }}"
                                       ng-init="social_link_{{ index }}='{{ site_link[index] }}'">
                                <label for="profile_link">profile address</label>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="input-field col s12">
                        <div ng-controller="Note">
                            <div ng-repeat="item in items">
                                <div class="input-field col s6">
                                    <input id="site_name" type="text" class="validate">
                                    <label for="site_name">Site name</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="profile_link" type="text" class="validate">
                                    <label for="profile_link">profile address</label>
                                </div>
                            </div>
                            <button class="btn-floating btn-large waves-effect waves-light green right"
                                    ng-click="add()"><i class="material-icons">add</i></button>
                        </div>
                    </div>
                </div>
                <br><br><br>
                <h4 class="blue-text lighten-3 center">Work Experiences</h4>
                <br><br>
                <div class="row">
                    <h5 class="green-text lighten-3">Total Experience</h5>
                    <div class="input-field col s12">
                        <div class="input-field col s6">
                            <input id="years" ng-model="item.question" type="text" class="validate">
                            <label for="years">Years</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="months" ng-model="item.question" type="text" class="validate">
                            <label for="months">Months</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h5 class="green-text lighten-3">Work</h5>
                    {% for item in work %}
                        {% set index = loop.index - 1 %}
                        <div class="input-field col s12">
                            <div class="input-field col s8">
                                <input id="work" ng-model="work_pre_{{ index }}"
                                       ng-init="work_pre_{{ index }}='{{ work[index] }}'"
                                       type="text">
                                <label for="work">Experience</label>
                            </div>
                            <div class="input-field col s2">
                                <input id="from_work" ng-model="from_pre_{{ index }}"
                                       ng-init="from_pre_{{ index }}='{{ l_w_year[index] }}'" type="text"
                                       class="validate">
                                <label for="from_work">From</label>
                            </div>
                            <div class="input-field col s2">
                                <input id="to_work" ng-model="to_pre_{{ index }}"
                                       ng-init="to_pre_{{ index }}='{{ h_w_year[index] }}'" type="text"
                                       class="validate">
                                <label for="to_work">To</label>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="input-field col s12">
                        <div ng-controller="Note">
                            <div ng-repeat="item in items">
                                <div class="input-field col s8">
                                    <input id="work" ng-model="item.question" type="text" class="validate">
                                    <label for="work">Experience</label>
                                </div>
                                <div class="input-field col s2">
                                    <input id="from_work" ng-model="item.question" type="text" class="validate">
                                    <label for="from_work">From</label>
                                </div>
                                <div class="input-field col s2">
                                    <input id="to_work" ng-model="item.question" type="text" class="validate">
                                    <label for="to_work">To</label>
                                </div>
                            </div>
                            <button class="btn-floating btn-large waves-effect waves-light green right"
                                    ng-click="add()"><i class="material-icons">add</i></button>
                        </div>
                    </div>
                </div>
                <br><br><br>
                <h4 class="blue-text lighten-3 center">Educational Experiences</h4>
                <br><br>
                <div class="row">
                    <h5 class="green-text lighten-3">Total Experience</h5>
                    <div class="input-field col s12">
                        <div class="input-field col s6">
                            <input id="edu_years" ng-model="item.question" type="number" class="validate">
                            <label for="edu_years">Years</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="edu_months" ng-model="item.question" type="number" class="validate">
                            <label for="edu_months">Months</label>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <h5 class="green-text lighten-3">Degree / Institution</h5>
                    {% for item in edu_list %}
                        {% set index = loop.index - 1 %}
                        <div class="input-field col s12">
                            <div class="input-field col s8">
                                <input id="degree" ng-model="edu_exp_{{ index }}"
                                       ng-init="edu_exp_{{ index }}='{{ edu_list[index] }}'"
                                       type="text">
                                <label for="degree">Experience</label>
                            </div>
                            <div class="input-field col s2">
                                <input id="from_degree" ng-model="from_edu_{{ index }}"
                                       ng-init="from_edu_{{ index }}='{{ l_year[index] }}'" type="text"
                                       class="validate">
                                <label for="from_degree">From</label>
                            </div>
                            <div class="input-field col s2">
                                <input id="to_degree" ng-model="to_edu_{{ index }}"
                                       ng-init="to_edu_{{ index }}='{{ h_year[index] }}'" type="text"
                                       class="validate">
                                <label for="to_degree">To</label>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="input-field col s12">
                        <div ng-controller="Note">
                            <div ng-repeat="item in items">
                                <div class="input-field col s8">
                                    <input id="degree" ng-model="item.question" type="text" class="validate">
                                    <label for="degree">Degree / Institution</label>
                                </div>
                                <div class="input-field col s2">
                                    <input id="from_degree" ng-model="item.question" type="number" class="validate">
                                    <label for="from_degree">From</label>
                                </div>
                                <div class="input-field col s2">
                                    <input id="to_degree" ng-model="item.question" type="number" class="validate">
                                    <label for="to_degree">To</label>
                                </div>
                            </div>
                            <button class="btn-floating btn-large waves-effect waves-light green right"
                                    ng-click="add()"><i class="material-icons">add</i></button>
                        </div>
                    </div>
                </div>
                <br><br><br>
                <h4 class="blue-text lighten-3 center">Volunteer Experiences</h4>
                <br><br>
                <div class="row">

                    <h5 class="green-text lighten-3">Experience list</h5>
                    {% for item in summary_proj %}
                        {% set index = loop.index - 1 %}
                        <div class="input-field col s12">
                            <div class="input-field col s8">
                                <input id="vol" ng-model="vol_exp_{{ index }}"
                                       ng-init="vol_exp_{{ index }}='{{ summary_proj[index] }}'"
                                       type="text">
                                <label for="vol">Experience</label>
                            </div>
                            <div class="input-field col s2">
                                <input id="from_vol" ng-model="from_vol_{{ index }}"
                                       ng-init="from_vol_{{ index }}='{{ date_ret_low[index] }}'" type="text"
                                       class="validate">
                                <label for="from_vol">From</label>
                            </div>
                            <div class="input-field col s2">
                                <input id="to_vol" ng-model="to_vol_{{ index }}"
                                       ng-init="to_vol_{{ index }}='{{ date_ret_high[index] }}'" type="text"
                                       class="validate">
                                <label for="to_vol">To</label>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="input-field col s12">
                        <div ng-controller="Note">
                            <div ng-repeat="item in items">
                                <div class="input-field col s8">
                                    <input id="vol" ng-model="item.question" type="text" class="validate">
                                    <label for="vol">Degree / Institution</label>
                                </div>
                                <div class="input-field col s2">
                                    <input id="from_vol" ng-model="item.question" type="number" class="validate">
                                    <label for="from_vol">From</label>
                                </div>
                                <div class="input-field col s2">
                                    <input id="to_vol" ng-model="item.question" type="number" class="validate">
                                    <label for="to_vol">To</label>
                                </div>
                            </div>
                            <button class="btn-floating btn-large waves-effect waves-light green right"
                                    ng-click="add()"><i class="material-icons">add</i></button>
                        </div>
                    </div>
                </div>
                <br><br><br>
                <h4 class="blue-text lighten-3 center">Certificate and Awards</h4>
                <br><br>
                <div class="row">
                    <h5 class="green-text lighten-3">Certificate / Award</h5>
                    <div class="input-field col s12">
                        <div class="input-field col s8">
                            <input id="certi" ng-model="item.question" type="text" class="validate">
                            <label for="certi">Certificate / Award</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="yr_certi" ng-model="item.question" type="number" class="validate">
                            <label for="yr_certi">Year</label>
                        </div>
                    </div>
                    <div class="input-field col s12">
                        <div ng-controller="Note">
                            <div ng-repeat="item in items">
                                <div class="input-field col s8">
                                    <input id="certi" ng-model="item.question" type="text" class="validate">
                                    <label for="certi">Certificate / Award</label>
                                </div>
                                <div class="input-field col s4">
                                    <input id="yr_certi" ng-model="item.question" type="number" class="validate">
                                    <label for="yr_certi">Year</label>
                                </div>
                            </div>
                            <button class="btn-floating btn-large waves-effect waves-light green right"
                                    ng-click="add()"><i class="material-icons">add</i></button>
                        </div>
                    </div>
                </div>
                <br><br><br>
                <h4 class="blue-text lighten-3 center">Publications</h4>
                <br><br>
                <div class="row">
                    <h5 class="green-text lighten-3">Publications</h5>
                    <div class="input-field col s12">
                        <div class="input-field col s6">
                            <input id="pub_name" ng-model="item.question" type="text" class="validate">
                            <label for="pub_name">Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="pub_publish" ng-model="item.question" type="text" class="validate">
                            <label for="pub_publish">Publisher</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="pub_site" ng-model="item.question" type="text" class="validate">
                            <label for="pub_site">Website</label>
                        </div>
                        <div class="input-field col s6">
                            <input type="text" id="pub_year" ng-model="pub_year_1" ng-init="pub_year_1='{{ d_pub[0] }}'" class="validate">
                            <label for="pub_year">Year</label>
                        </div>
                        <div class="input-field col s12">
                            <textarea id="pub_summary" ng-model="pub_summ_1"
                                      ng-init="pub_summ_1='{{ summary_pub }}'"
                                      class="validate materialize-textarea"></textarea>
                            <label for="pub_summary">Summary</label>
                        </div>
                    </div>
                    <div class="input-field col s12">
                        <div ng-controller="Note">
                            <div ng-repeat="item in items">
                                <div class="input-field col s6">
                                    <input id="pub_name" ng-model="item.question" type="text" class="validate">
                                    <label for="pub_name">Name</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="pub_publish" ng-model="item.question" type="text" class="validate">
                                    <label for="pub_publish">Publisher</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="pub_site" ng-model="item.question" type="text" class="validate">
                                    <label for="pub_site">Website</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="pub_year" ng-model="item.question" type="number" class="validate">
                                    <label for="pub_year">Year</label>
                                </div>
                                <div class="input-field col s12">
                                    <textarea id="pub_summary" ng-model="item.question" type="number"
                                              class="validate materialize-textarea"></textarea>
                                    <label for="pub_summary">Summary</label>
                                </div>
                            </div>
                            <button class="btn-floating btn-large waves-effect waves-light green right"
                                    ng-click="add()"><i class="material-icons">add</i></button>
                        </div>
                    </div>
                </div>
                <br><br><br>
                <h4 class="blue-text lighten-3 center">Volunteer Experiences</h4>
                <br><br>
                <div class="row">
                    <h5 class="green-text lighten-3">Volunteer Experiences</h5>
                    {% for item in summary_proj %}
                    {% set index = loop.index - 1 %}
                    <div class="input-field col s12">
                        <div class="input-field col s6">
                            <input id="org_name" ng-model="item.question" type="text" class="validate">
                            <label for="org_name">Organization</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="org_site" ng-model="item.question" type="text" class="validate">
                            <label for="org_site">Website</label>
                        </div>
                        <div class="input-field col s3">
                            <input id="org_start_month" ng-model="item.question" type="number" class="validate">
                            <label for="org_start_month">Start date (month)</label>
                        </div>
                        <div class="input-field col s3">
                            <input type="text" id="org_start_year" ng-model="volunteer_sy_{{ index }}" ng-init="volunteer_sy_{{ index }}='{{ date_ret_low[index] }}'" class="validate">
                            <label for="org_start_year">Start date (year)</label>
                        </div>
                        <div class="input-field col s3">
                            <input id="org_end_month" ng-model="item.question" type="number" class="validate">
                            <label for="org_end_month">End date (month)</label>
                        </div>
                        <div class="input-field col s3">
                            <input type="text" id="volunteer_ey_{{ index }}" ng-model="volunteer_ey_{{ index }}" ng-init="volunteer_ey_{{ index }}='{{ date_ret_high[index] }}'" class="validate">
                            <label for="volunteer_ey_{{ index }}">End date (year)</label>
                        </div>
                        <div class="input-field col s12">
                            <textarea id="org_summary" ng-model="volunteer_exp_{{ index }}" ng-init="volunteer_exp_{{ index }}='{{ summary_proj[index] }}'"
                                      class="validate materialize-textarea"></textarea>
                            <label for="org_summary">Summary</label>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="input-field col s12">
                        <div ng-controller="Note">
                            <div ng-repeat="item in items">
                                <div class="input-field col s6">
                                    <input id="org_name" ng-model="item.question" type="text" class="validate">
                                    <label for="org_name">Organization</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="org_site" ng-model="item.question" type="text" class="validate">
                                    <label for="org_site">Website</label>
                                </div>
                                <div class="input-field col s3">
                                    <input id="org_start_month" ng-model="item.question" type="number" class="validate">
                                    <label for="org_start_month">Start date (month)</label>
                                </div>
                                <div class="input-field col s3">
                                    <input id="org_start_year" ng-model="item.question" type="number" class="validate">
                                    <label for="org_start_year">Start date (year)</label>
                                </div>
                                <div class="input-field col s3">
                                    <input id="org_end_month" ng-model="item.question" type="number" class="validate">
                                    <label for="org_end_month">End date (month)</label>
                                </div>
                                <div class="input-field col s3">
                                    <input id="org_end_year" ng-model="item.question" type="number" class="validate">
                                    <label for="org_end_year">End date (year)</label>
                                </div>
                                <div class="input-field col s12">
                            <textarea id="org_summary" ng-model="item.question" type="number"
                                      class="validate materialize-textarea"></textarea>
                                    <label for="org_summary">Summary</label>
                                </div>
                            </div>
                            <button class="btn-floating btn-large waves-effect waves-light green right"
                                    ng-click="add()"><i class="material-icons">add</i></button>
                        </div>
                    </div>
                </div>
                <br><br><br>
                <h4 class="blue-text lighten-3 center">Skill sets</h4>
                <br><br>
                <div class="row">
                    <h5 class="green-text lighten-3">Skills</h5>
                    <div class="input-field col s12">
                        {% for item in skills %}
                            <div class="input-field col s6">
                                <input id="skill1" ng-model="skill_{{ loop.index }}" ng-init="skill_{{ loop.index }}='{{ item }}'"
                                       type="text" class="validate">
                                <label for="skill1">Skill</label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="input-field col s12">
                        <div ng-controller="Note">
                            <div ng-repeat="item in items">
                                <div class="input-field col s6">
                                    <input id="skill1" ng-model="item.question" type="text" class="validate">
                                    <label for="skill1">Skill</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="skill2" ng-model="item.question" type="text" class="validate">
                                    <label for="skill2">Skill</label>
                                </div>
                            </div>
                            <button class="btn-floating btn-large waves-effect waves-light green right"
                                    ng-click="add()"><i class="material-icons">add</i></button>
                        </div>
                    </div>
                </div>
                <br><br><br>
                <h4 class="blue-text lighten-3 center">Language Known</h4>
                <br><br>
                <div class="row">
                    <h5 class="green-text lighten-3">Language</h5>
                    <div class="input-field col s12">
                        <div class="input-field col s6">
                            <input id="lang_name" ng-model="item.question" type="text" class="validate">
                            <label for="lang_name">Name</label>
                        </div>
                        <div class="input-field col s2">
                            <input class="with-gap red" ng-model="item.question" name="group1" type="radio"
                                   id="lang_novice"/>
                            <label for="lang_novice">Novice</label>
                        </div>
                        <div class="input-field col s2">
                            <input class="with-gap red" ng-model="item.question" name="group1" type="radio"
                                   id="lang_medium"/>
                            <label for="lang_medium">Average</label>
                        </div>
                        <div class="input-field col s2">
                            <input class="with-gap red" ng-model="item.question" name="group1" type="radio"
                                   id="lang_expert"/>
                            <label for="lang_expert">Expert</label>
                        </div>
                    </div>
                    <div class="input-field col s12 center">
                        <div ng-controller="Note">
                            <div ng-repeat="item in items">

                            </div>
                            <button class="btn-floating btn-large waves-effect waves-light green right"
                                    ng-click="add()"><i class="material-icons">add</i></button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row center">
                    <div class="col s12 center">
                        <button class="btn btn-large waves-effect waves-light red center" ng-click="submitForm()">
                            Submit
                        </button>
                        <br><br>
                    </div>
                </div>
            </form>
        </div>
        <br><br>

    </div>
</div>
<footer class="page-footer red darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">About Venturesity</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's
                    our full time job. Any amount would help support and continue development on this project and is
                    greatly appreciated.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Settings</h5>
                <ul>
                    <li><a class="white-text" href="#!">Random text</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Social media</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text" href="http://materializecss.com">Satyaki Sanyal</a>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/static/js/materialize.js"></script>
<script src="/static/js/init.js"></script>
<script src="/static/js/angular_init.js"></script>


</body>
</html>