<!doctype html>
<html ng-app>
  <head>
    <title>Angular - My Notes</title>

  <body>
    <h1>My Notes</h1>
    <div ng-controller="Note">
      <div ng-repeat="item in items">
        <input name="qty_{{ $index }}" type="text" placeholder="{{item.questionPlaceholder}}" ng-model="param">
          <button ng-click="test(param, $index)">sdv</button>
        <input ng-class="{'blockInput': !item.inlineChecked}" type="text" placeholder="enter text..." ng-model="item.text">
        <input type="checkbox" name="check" value="inline" ng-model="item.inlineChecked"> Inline
      </div>
         <button ng-click="add()">New Item</button>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <script type="text/javascript">

      var Note = function($scope){
        $scope.items = [{}];
        $scope.number = 0;
        $scope.add = function () {
          $scope.items.push({
            inlineChecked: false,
            question: "",
            questionPlaceholder: "foo",
            text: ""
          });
        };
        $scope.test = function (p, idx) {
            $scope.my_var = p;
            console.log("Here", $scope.my_var, idx);
        }
        $scope.show = function (num) {
            alert(num);
        }
      }


    </script>
  </body>
</html>
