<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="myCtrl">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Resume Parser - Venturesity</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script type="text/javascript">
        function showStuff(id) {
            document.getElementById(id).style.visibility = "visible";
        }
        function hide(id) {
            document.getElementById(id).style.visibility = "hidden";
        }
    </script>
</head>
<body onload="hide('page-loading');">
<nav class="light-red darken-2" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Venturesity</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Resume parser</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center red-text" ng-model='blockhead' ng-init="blockhead='Upload your resume'">
            <[blockhead]></h1>
        <div class="row center">
            <h5 class="header col s12 light" ng-model='blockh5'
                ng-init="blockh5='We convert your resume into a JSON resume and then present it to your employer'">
                <[blockh5]></h5>
        </div>
        <div class="row center">
            <form action="#" method="POST" enctype="multipart/form-data" id='myForm'>
                <h5 class="subheader center red-text">{{ message }}</h5>
                <div class="file-field input-field">
                    <div class="btn red z-depth-5">
                        <span>Resume</span>
                        <input type="file" name="file[]">
                    </div>
                    <div class="file-path-wrapper">
                        <i class="material-icons prefix">mode_edit</i>
                        <input class="file-path validate" type="text"
                               placeholder="Supported formats: docx, doc, pdf, txt, odt">
                    </div>
                    <button ng-click="blockhead='Please wait!'; blockh5='We are parsing your resume thoroughly. We appreciate your patience...'"
                            onclick="showStuff('page-loading'); hide('myForm');" type="submit"
                            class="z-depth-5 waves-effect waves-light red btn right"><i class="material-icons">done</i>
                    </button>
                </div>
            </form>
        </div>
        <div class="row center">
            <div id="page-loading">
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-red">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-yellow">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-green">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>

    </div>
</div>


<footer class="page-footer red darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">About Venturesity</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's
                    our full time job. Any amount would help support and continue development on this project and is
                    greatly appreciated.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Settings</h5>
                <ul>
                    <li><a class="white-text" href="#!">Random text</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Social media</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text" href="http://materializecss.com">Satyaki Sanyal</a>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/static/js/materialize.js"></script>
<script src="/static/js/init.js"></script>
<script src="/static/js/angular_init.js"></script>
</body>
</html>